*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: #1f1f1f;
    min-height: 60px;
    align-content: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

nav{
    text-align: center;
}

.nav_link{
    text-decoration: none;
    padding: 0 6px;
    color: #fff;
}

section{
    scroll-margin-top: 60px;
    padding: 60px 20px;
    min-height: 300px;
    background-color: #fff;
}

section:nth-child(even){
background-color: #f5f5f5;
}

img{
    max-width:100%;
    header:auto;
}

h2{
    text-align: center;
}

.about-me{
    display: flex;
    gap: 48px;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> eac048594c8204ea925c390bafd3f58f060245c7
    &__text{flex: 1 1 60%}
    &__image{ flex:1 1 40% }
}

#home{
    text-align: center;
    align-content: center;
}


.project-cards{
    display: flex;
    gap: 24px;
}

.project-card{
    text-align: center;
    flex: 1;
    border:1px solid rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 8px;
}

.contact-form{
    max-width: 400px;
    margin: 0 auto;
}

.contact-form>label{
    display: block;
    margin-bottom: 20px;
}
.contact-form>label>input,
.contact-form>label>textarea{
    width: 100%;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    border:1px solid rgba(0, 0, 0, .6);
}

input[type="submit"]{
    background: rgba(0, 0, 0, .8);
    color: #f1f1f1;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

input[type="submit"]:hover{
background: rgba(0, 0, 0, .5);
color: #fff;
}

section:not(#home)>h2{
    margin-bottom: 40px;
}


footer{
    min-height: 80px;
    text-align: center;
    align-content: center;
    background-color: #1f1f1f;
}
footer>p{
    color: #fff;
    font-size: 18px;
}