*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
    font-family: arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header{
    background-color: #f5f5f5;
    min-height: 60px;
    align-content: center;
}

nav{
    text-align: center;
}

.nav_link{
    text-decoration: none;
    padding: 0 6px;
}

section{
    padding: 60px 20px;
    min-height: 300px;
    background-color: #fff;
}

section:nth-child(even){
background-color: #f5f5f5;
}

img{
    max-width:100%;
    header:auto;
}

h2{
    text-align: center;
}

.about-me{
    display: flex;
    gap: 48px;
    &__text{flex: 1 1 60%}
    &__image{ flex:1 1 40% }
}

#home{
    text-align: center;
    align-content: center;
}


.project-cards{
    display: flex;
    gap: 24px;
}

.project-card{
    text-align: center;
    flex: 1;
    border:1px solid rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 8px;
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}





footer{
    min-height: 80px;
    text-align: center;
    align-content: center;
}
footer>p{
    font-size: 18px;
}